.share {
    width: 100%;
    height: 190px;
    border-radius: 25px;
    background: #e0e0e0;
    box-shadow: 7px 7px 17px #cccccc, -7px -7px 17px #f4f4f4;
}

.sharewrape {
    padding: 10px;
}

.sharetop {
    display: flex;
    align-items: center;
}

.profileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.textshare {
    font-size: 14px;
    font-weight: 400;
}

.shareInput {
    border: none;
    width: 80%;
    border-radius: 5px;
    padding: 5px;
}

.shareInput:focus {
    outline: none;
}

hr {
    margin: 20px;
}

.sharebottem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options {
    display: flex;
    margin-right: 20px;
}

.option {
    display: flex;
    align-items: center;
    margin: 15px;
    cursor: pointer;
}

.icon {
    font-size: 18px;
    margin-right: 3px;
}

.btnshare {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(56, 115, 152);
    font-weight: 500;
    cursor: pointer;
    color: #f4f4f4;
    margin-right: 20px;
}